.main{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
.label{
    display: block;
    padding: 10px;
}

.formButton {
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    padding: 5px 0;
}

.formButton:disabled {
    background-color: #9ebaec;
    cursor: none;
}

/*.formButton:hover{*/
/*    background-color: white;*/
/*    color: cornflowerblue;*/
/*    border: 1px  cornflowerblue solid;*/
/*    transition: .5s ease;*/
/*}*/

.formInput{
    margin-left: 10px;
    border: none;
    border-bottom: 1px darkblue solid;
    outline: none;
}

